.orderBoard{
  color: #ffffff;
  
  .dataGrid{
    color: #ffffff;
    background-color: #37273a;

    .MuiDataGrid-row:hover {
      background-color: #3a1341;
    }

    .stockName{
      padding-left: 30px;
    }

    .id{
      padding-left: 80px;
    }

    .buyRow {
      // background-color: #2397fc;
      // color: #0085fa;
    }
    
    .sellRow {
      // background-color: #fd6b3f;
      // color: #ff3c00;
    }

    .stockNameCell{
      justify-content: center;
      font-weight: bold;
      color: #00BB00;
    }

    .buyRow{
      .statusCell {
        background-color:#279e41;
      }
    }

    .statusCell{
      justify-content: center;
    }

    .sellRow{
      .statusCell {
        background-color:#d31323;
      }
    }

    .traderCell{
      justify-content: center;
      font-weight: 500;
      color: #f23aff;
    }

    .priceCell{
      font-weight: 400;
      color: #fdff12;
    }

    .quantityCell{
      font-weight: 600;
      color: #ff0017;
    }

    .totalCell{
      font-weight: 600;
      color: #00FF00;
    }

    .datetimeCell{

    }

    .idCell{
      color: #00c9ff;
    }

    .isDoneCell{
      color: #9900FF;
      font-size: 20px;
      font-weight: bold;
      justify-content: center;
    }
    
    .notIsDoneRow{
      // &.isDoneCell{
        color: #0bdf39;
      // }
    }


    .MuiTablePagination-root {
      color: white;
    }

  }
}